
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
#footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
body > .container {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}
.container .text-muted {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
