.urlList {
	list-style: none;
}

.urlItem {
	display: block;
	height: 50px;
	padding: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	width: 90%;
	margin-bottom: 10px;
	border: thin;
	border-style:solid;
}

.urlItem:before {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	content: "";
	display: block;
	width: 20px;
	height: 50px;
	float: left;
	background-color: black;
}

.listHeader {
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 22px;
	overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

.listHeader, a {
	font-family: "proxima-nova", sans-serif;
	font-size: 1.0em;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.08em;

}

.listHeader.blue {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #5FC8DB;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	color: #FFFFFF;
}

.listHeader.darkblue {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #0A475E;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	color: #FFFFFF;
}

.listHeader.white {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FFFFFF;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	color: #606060;
}

.info {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #E8E8E8;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	color: #606060;
	overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

#urlSearchInput {
	padding: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	width: 50%;
	margin-bottom: 10px;
	margin-left: 65px;
}